$themeColor: #eee;
$h1color: #e4002b;
$font-family: Helvetica, Arial, sans-serif;

header {
  background: $themeColor;
  margin: 0;
  img {
    margin-left: calc((100vw - 255px)/2);
    padding: 2%;
  }
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family;
}

h2 {
  margin-top: 8%;
}

.propertyList {
  min-width: 300px;
  float: left;
  margin-left: 18vw;
  margin-bottom: 5%;
}

.savedProperties {
  @extend .propertyList;
  margin-left: 1vw;
}

.card {
  margin: 2%;
  display: block;
}

@media (max-width: 780px) {
  .propertyList {
    margin-left: 0;
  }
}
