.card-block, .icons-sm {
  padding: 2%;
}

.btn {
  position: relative;
  width: 100%;
  text-align: center;
  // left: calc(100% - 156px);
  // right: 5px;
  margin-right: 2%;
  background: #e4002b;
  border-color: #E4221A;
  cursor: pointer;
}

.btn-hide {
  display: none;
}
